### PowerShell template
# Exclude packaged modules
*.zip

# Exclude .NET assemblies from source
*.dll

/Help/
/.idea/
/.vscode/
/Modules/Terminal-Icons/
/Modules/ThreadJob/
/Modules/Tree/
/Modules/Validate-DCB/
/Modules/xHyper-V/
/Modules/z/
/Modules/PSReadLine/
/Modules/PSUrlScanio/
/Modules/PSCommander/
/Modules/PSDiagnostics/
/Modules/PSScriptTools/
/Modules/PSScriptAnalyzer/
/Modules/PSDepend/
/Modules/Microsoft.PowerShell.Archive/
/Modules/Microsoft.PowerShell.Diagnostics/
/Modules/Microsoft.PowerShell.Host/
/Modules/Microsoft.PowerShell.Management/
/Modules/Microsoft.PowerShell.PSResourceGet/
/Modules/Microsoft.PowerShell.Security/
/Modules/Microsoft.PowerShell.ThreadJob/
/Modules/Microsoft.PowerShell.Utility/
/Modules/Microsoft.PowerToys.Configure/
/Modules/Microsoft.WinGet.Client/
/Modules/Microsoft.WinGet.CommandNotFound/
/Modules/Microsoft.WSMan.Management/
/Modules/MSFT.Network.Diag/
/Modules/MSOnline/
/Modules/NetTCPIP/
/Modules/NetworkingDsc/
/Modules/PackageManagement/
/Modules/Pester/
/Modules/PnP.PowerShell/
/Modules/posh-git/
/Modules/Posh-SSH/
/Modules/Posh-Sysmon/
/Modules/PoshFunctions/
/Modules/CimCmdlets/
/Modules/InvokeBuild/
/Modules/Metadata/
/Modules/PowerShellGet/
/Modules/Indented.Build/
/Modules/Configuration/
/Modules/get-packageupdates/
/Modules/z/1.1.14/PSGetModuleInfo.xml
/Modules/Validate-DCB/20210802.2.2.117/PSGetModuleInfo.xml
/Modules/Validate-DCB/20210802.2.2.117/
/Modules/Validate-DCB/20210802.2.2.117/
/Modules/DataCenterBridging/
/Modules/MSFT.Network.Diag/1.0.0.20/PSGetModuleInfo.xml
/Modules/MSFT.Network.Diag/1.0.0.20/PSGetModuleInfo.xml
/Modules/DataCenterBridging/2021.8.18.41/PSGetModuleInfo.xml
